html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.top-panel {
    width: 100%;
    height: 360px;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
}

.control-panel {
    width: 360px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #dddddd;
    box-sizing: border-box;
}

.webp-container {
    width: calc(100% - 368px);
    height: 100%;
    display: inline-flex;
    vertical-align: top;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: calc(100% - 32px);
    max-height: calc(100% - 392px);
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: min-content;
    column-gap: 16px;
    row-gap: 16px;
    overflow-y: auto;
}

.image {
    width: 100%;
}

.hidden {
    display: none;
}

#loading {
    text-align: center;
    font-size: 18px;
}

#webp {
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
}
